.container{
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: 30px 30px 50px 40px;
    margin-bottom: 10px;
}

.item:nth-child(1) {
    grid-column: 1/3;
    padding: 3px;
}

.item:nth-child(2) {
    grid-column: 3/5;   
    padding: 3px;
}

.item:nth-child(3) {
    grid-column: 5/7;
    padding: 3px;
}


.item:nth-child(4) {
    grid-column: 1/4;
    padding: 3px;
}

.item:nth-child(5) {
    grid-column: 4/7;
    padding: 3px;
}

.item:nth-child(6) {
    grid-column: 1/7;
    padding: 3px;
}

.item:nth-child(7) {
    grid-column: 1/4;
    background-color: rgb(226, 226, 226);
    font-size: 15px;
    cursor: pointer;
    border: 1px solid black;
    border-top: none;
    overflow: hidden;
}

.item:nth-child(7) label {
    font-size: 15px;
    text-align: center;  
    display: inline-block;
    color: black;
    line-height: 35px;
    vertical-align: middle; 
    background-color: rgb(226, 226, 226);
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2; 
    border-radius: .25em;
    width: 100%;
    height: 100%;
}

.item:nth-child(7) input[type="file"] { 
    position: fixed;
    padding: 0; 
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0; 
    width: 100%;
    height: 100%;
}


.item:nth-child(8) {
    grid-column: 4/7;
    color: white;
    font-size: 15px;
    background-color: #324A57;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    cursor: pointer;
    padding: 3px;
}